<template>
    <div class="event-popup">
        <header id="header">
            <h1 id="headerTitle">Event Title</h1>
            <i class="fa-solid fa-xmark close-btn"></i>
        </header>
        <form class="event-details">
            <input type="text" name="title" id="title" disabled required>
            <textarea name="event_description" id="event_description" disabled></textarea>
            <input type="date" name="event_date" id="event_date" disabled required>
            <div class="event-time">
                <input type="time" name="event_start" id="event_start" disabled required>
                <p>-</p>
                <input type="time" name="event_end" id="event_end" disabled required>
            </div>
            <div>
                <input type="checkbox" name="is_online" id="is_online" disabled>
            </div>
            <div class="addressContainer">
                <input type="text" name="address_1" id="address_1" placeholder="address line 1" disabled>
                <input type="text" name="address_2" id="address_2" placeholder="address line 2" disabled>
                <input type="text" name="town" id="town" placeholder="town" disabled>
                <input type="text" name="postcode" id="postcode" placeholder="postcode" maxlength="7" minlength="7" disabled>
            </div>
            <button class="edit-btn active">Edit</button>
            <button class="save-btn">Save</button>
            <button class="cancel-btn">Cancel</button>
            <button class="delete-btn active">Delete</button>
        </form>
    </div>
</template>
