.close::before {
    cursor: pointer;
}

#calendar {
    height: 95vh;
    z-index: 0;
}

.fc-event:hover {
    background-color: rgba(188, 232, 241, .3) !important;
    cursor: pointer;
}
  
.fc-event.active,
.fc-event.active:hover {
    background-color: rgba(188, 232, 241, .6) !important;
    cursor: pointer;
}

.event-popup {
    display: none;
    flex-direction: column;
    z-index: 999;
    position: absolute;
    background-color: white;
    width: max-content;
    height: fit-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px gray;
    align-items: flex-start;
    border: 0;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
}

#addEvent {
    max-width: 300px;
    width: 250px;
}

.event-popup > header {
    width: 100%;
    height: fit-content;
    display: flex;
    margin: 10px;
    height: 25px;
    margin-left: 0;
    margin-right: 0;
    background-color: #2c3e50;
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: grab;
    display: flex;
    justify-content: space-between;
}

#addEvent > header {
    cursor: initial;
}

.event-popup > header.active {
    cursor: grabbing;
}

.event-popup > header > h1 {
    margin: 0;
    font-size: 20px;
    padding-left: 5px;
}

.event-popup > header > i {
    align-self: center;
    padding-right: 5px;
}

.event-popup > .event-details {
    display: flex;
    flex-direction: column;
}

#addEvent > .event-details {
    align-items: center;
    width: 100%;
}

.event-details > p {
    margin: 0;
}

.event-details > div {
    padding-bottom: 5px;
}

.event-details > input,
.event-details > textarea {
    margin-bottom: 5px;
    width: 95%;
}

#addEvent > .event-details > input[type="date"] {
    width: fit-content;
}

.event-details > div > input.blank {
    display: none;
}

.event-details > .event-time {
    display: flex;
    justify-content: space-evenly;  
    width: 100%;  
}

.event-details > .event-time > p {
    margin: 0;
}

.event-details > .onlineContainer {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.event-details > .onlineContainer p,
.event-details > .onlineContainer input {
    padding: 0;
    margin: 0;
}

.event-details > .onlineContainer > div {
    display: flex;
}

.event-details > .addressContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 95%;
}

.event-details > .addressContainer.online {
    display: none;
}

.addressContainer > input {
    margin-bottom: 5px;
}

.event-details > button {
    margin-bottom: 5px;
    display: none;
}

.event-details > button.active {
    display: block;
}

.event-details > .delete-btn {
    margin-bottom: 10px;
}
